<a class="dropdown-toggle" data-toggle="dropdown" href="#">
${{currency.btceusd}} &middot; {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
<li>
<a href="#" data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
</li>
<li>
<a href="#" data-ng-click="setCurrency('GLT')" data-ng-class="{active: currency.symbol == 'GLT'}">GLT</a>
</li>
<li>
<a href="#" data-ng-click="setCurrency('mGLT')" data-ng-class="{active: currency.symbol == 'mGLT'}">mGLT</a>
</li>
<li>
<a href="#" data-ng-click="setCurrency('uGLT')" data-ng-class="{active: currency.symbol == 'uGLT'}">uGLT</a>
</li>
</ul>
